body {
    background-image: url(../images/Dark-Crystal-Visual-History-1-06302017.jpg);
    background-position: top center;
    background-size: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 30px;
    color: #3b3444;

    text-shadow: 2px 2px whitesmoke;
}

p {
    font-size: 14px
}

.instructions {
    margin-bottom: 20px;
   
    
}

.box-set-1 {
   margin-left: 20px;
}

.target-number {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #3b3444;
    text-shadow: 1px 1px whitesmoke;
}

.crystal-image {
    width: 150px;
    
}

.count-text {
    height: 40%;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    font-size: 36px;
    color: #3b3444;
    text-shadow: 1px 1px whitesmoke;
    padding-left: 40px;
}
.card {
    background: #756872;
    margin-bottom: 10px;
    opacity: .80;
    font-weight: bold;
}
.wins {
    color: #3b3444;
    text-shadow: 1px 1px whitesmoke;

}

.losses {
    color: #3b3444;
    text-shadow: 1px 1px whitesmoke;
}

.progress {
    background: #756872;
    color: whitesmoke;
    font-size: 18px;
    height: 24px;
    
    font-weight: bold;
}